@model HandsToOfferApi.Dto.EventDetailsDto
@{
    ViewBag.Title = "EventDetails";
}

<style>
    .mySlides {
        max-height:400px;
    }
</style>
<div style="padding:20px;padding-top:80px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="projectName">@Model.evenT.ProjectName</div>
        </div>
        <div class="col-sm-12">
            <div class="projectDesc"><div>@Model.evenT.ProjectDesc</div></div>
        </div>
        <div class="col-sm-12 paddingLeft">
            <div class="row handsCalender">
                <div class="col-sm-12 handsDay padbottom">
                    <div class="handsMonth textDecoration padbottom">When time and day</div>
                    <span>Begins at </span>
                    @Model.evenT.StartDate.ToString("dd") @Model.evenT.StartDate.ToString("MMM") @Model.evenT.StartDate.ToString("yy")
                    <span class="handsDay">@Model.evenT.StartDate.ToShortTimeString() </span>
                    <span class="handsDay">@Model.evenT.StartDate.ToString("ddd") </span>
                    <span> and Ends by </span>
                    @Model.evenT.EndDate.ToString("dd") @Model.evenT.EndDate.ToString("MMM") @Model.evenT.EndDate.ToString("yy")
                    <span class="handsDay">@Model.evenT.EndDate.ToShortTimeString() </span>
                    <span class="handsDay">@Model.evenT.EndDate.ToString("ddd") </span>
                </div>

            </div>
        </div>
        <div class="col-sm-12 paddingLeft">
            <div class="handsMonth textDecoration">Who is Volunteering</div>
            @{
                if(Model.participants.Count > 0)
                {
                    foreach (HandsToOfferApi.Dto.EventParticipants participant in Model.participants)
                    {
                        <div class="row handsCalender">
                            <div class="col-sm-12 handsDay padbottom">
                                @participant.Name is @participant.Joining attending
                            </div>
                        </div>
                    }
                }
                else
                {
                     <div class="row handsCalender">
                            <div class="col-sm-12 handsDay padbottom">
                                No participants yet
                            </div>
                        </div>
                }

            }

        </div>
        <div class="col-sm-12 paddingLeft">
            <span class="handsEventName">Event Pictures</span>
            <button class="btn btn-link" onclick="plusDivs(-1)"><span class="glyphicon glyphicon-circle-arrow-left"></span></button>
            <button class="btn btn-link" onclick="plusDivs(+1)"><span class="glyphicon glyphicon-circle-arrow-right"></span></button>
            <div class="col-sm-12 w3-content w3-display-container">

                @{
            foreach (string image in Model.imageList)
            {
                <div style="text-align:center;">
                    <img class="mySlides" src="~/Content/recent/@image" />
                </div>
    }
                }
            </div>
        </div>
    </div>

</div>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {

        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>

