@model HandsToOfferApi.Dto.EventDetailsDto
@{
    ViewBag.Title = "EventDetails";
}

<style>
    .mySlides {
        max-height:400px;
    }
</style>
<div style="padding:20px;padding-top:80px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="handsEventName">@Model.evenT.ProjectName</div>
        </div>
        <div class="col-sm-12">
            <div class="handsDay"> @Model.evenT.ProjectDesc</div>
        </div>
        <div class="col-sm-12">
            <div class="row handsCalender">
                <div class="col-sm-12 handsDay padbottom">
                    <span>Begins: </span>
                    @Model.evenT.StartDate.ToString("dd") @Model.evenT.StartDate.ToString("MMM") @Model.evenT.StartDate.ToString("yy")
                    <span class="handsMonth">@Model.evenT.StartDate.ToShortTimeString() </span>
                    <span class="handsWeekday">@Model.evenT.StartDate.ToString("ddd") </span>
                    <span> and Ends: </span>
                    @Model.evenT.EndDate.ToString("dd") @Model.evenT.EndDate.ToString("MMM") @Model.evenT.EndDate.ToString("yy")
                    <span class="handsMonth">@Model.evenT.EndDate.ToShortTimeString() </span>
                    <span class="handsWeekday">@Model.evenT.EndDate.ToString("ddd") </span>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="handsMonth">Who is Volunteering</div>
            @{
            foreach (HandsToOfferApi.Dto.EventParticipants participant in Model.participants)
            {
                <div class="row handsCalender">
                    <div class="col-sm-12 handsDay padbottom">
                        @participant.Name is @participant.Joining attending
                    </div>
                </div>
        }
            }

        </div>
        <div class="col-sm-12">
            <span class="handsEventName">Manual Slideshow</span>
            <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
            <div class="col-sm-12 w3-content w3-display-container">

                @{
            foreach (string image in Model.imageList)
            {
                <div style="text-align:center;">
                    <img class="mySlides" src="~/Content/recent/@image" />
                </div>
    }
                }
            </div>
        </div>
    </div>

</div>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {

        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>

