@model IEnumerable<HandsToOfferApi.Dto.EventUserMapping>
@{
    ViewBag.Title = "Home Page";
    int userid = 0;
    if (Session["UserName"] != null)
    {
        string useridString = Session["UserId"].ToString();
        bool isUserValid = Int32.TryParse(useridString, out userid);
    }
}

<link  href="~/Content/Radio.css" rel="stylesheet"/>

<div id="bodyhtml">
    <div style="opacity:0.95;">
        <div id="mission" class="row" style="box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.19)">
            <div class="col-sm-12">
                <img style="width:100%; " src="~/Content/img/banner1.png" />
            </div>
        </div>
    </div>
    <div class="row event">
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-12">
                    <span id="upcomingEventHeader" class="subtitle">Upcoming Events: </span>
                </div>
            </div>
            @foreach (var item in Model)
            {
                if (!item.HasCompleted)
                {
                    <div class="row upcomingeventContainer">
                        <div class="col-sm-12">
                            <div class="row upcomingevent">
                                <div class="col-sm-1" style="padding-top:23px;">
                                    <span class="glyphicon glyphicon-chevron-right" />
                                </div>
                                <div class="col-sm-5">
                                    <div class="row">
                                        <div class="col-sm-12 handsEventName">
                                            @item.ProjectName
                                        </div>
                                        <div class="col-sm-12 handsWeekday">
                                            <a href="https://www.google.com/maps/search/?api=1&query=@item.Address" target="_blank"> @item.Address</a>
                                        </div>
                                        <div class="col-sm-12 handsWeekday">
                                            <a href="tel:@item.Phone"> @item.Phone</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="row handsCalender">
                                        <div class="col-sm-12 handsDay padbottom">
                                            <span class="glyphicon glyphicon-calendar" style="color:crimson"></span>
                                            @item.StartDate.ToString("dd") @item.StartDate.ToString("MMM") @item.StartDate.ToString("yy")
                                            <span class="handsMonth">@item.StartDate.ToShortTimeString() </span>
                                            <span class="handsWeekday">@item.StartDate.ToString("ddd") </span>
                                        </div>
                                        <div class="col-sm-12 handsDay">
                                            <span class="glyphicon glyphicon-minus" style="color:crimson"></span>
                                            @item.EndDate.ToString("dd") @item.EndDate.ToString("MMM") @item.EndDate.ToString("yy")
                                            <span class="handsMonth">@item.EndDate.ToShortTimeString() </span>
                                            <span class="handsWeekday">@item.EndDate.ToString("ddd") </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1" style="padding-top:20px;text-align:center">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            @{
                                                if (Session["UserName"] != null)
                                                {
                                                <a href="#" data-id="@item.EventId" data-name="@item.ProjectName" data-user="@userid" data-joining=" @item.Joining" data-toggle="modal" class="joinUsModal" data-target="#exampleModal">
                                                    <span>Join</span>
                                                </a>
                                                }
                                                else
                                                {
                                                   <a href="/Home/Login">Login</a>
                                                }                        
                                            }                                             
                                        </div>
                                        <div class="col-sm-12">
                                                                                    @{
                                            if (item.Joining == "Definetly") {
                                                <span class="glyphicon glyphicon-thumbs-up" style="color:green;font-size:20px;"></span> 
                                            }
                                        } 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1" style="padding-top:20px;text-align:center">
                                    <a href="#">
                                        Share
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-sm-2 upcomingeventAnimate" id="generaleventContainer">
            <div class="row" style="padding-top:20px;" id="recenteventheader">
                <div class="col-sm-12">
                    <span class="subtitlehelplink">Useful Links:</span>
                    <span class="glyphicon glyphicon-question-sign" />
                </div>
            </div>
            <div class="row" id="recentevent">
                <div class="col-sm-12">
                    <a href="#">Get Notification on all upcoming events</a>
                </div>
                <div class="col-sm-12">
                    <a href="#">Tell my friends about Hands2Offer</a>
                </div>
                <div class="col-sm-12">
                    <a href="#">Create Your Profile in 3 simple steps</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row event" id="recentEventContainer">
        <div class="col-sm-12">
            <div class="row recentEventRow">
                <div class="col-sm-12">
                    <span class="subtitle">Recent Events</span>
                    <span class="glyphicon glyphicon-ok-sign"> </span>
                    <a href="#" class="recenteventLink" style="padding-left:10px;">See All Recent Events</a>
                </div>
            </div>
            @foreach (var item in Model)
            {
                if (item.HasCompleted)
                {
            <div class="row recentEventRow">
                <div class="col-sm-2">
                    @{
                        if (!String.IsNullOrEmpty(item.ImageLocation))
                        {
                            <img src="~/Content/recent/@item.ImageLocation" style="max-height:80px;" />
                        }
                        else
                        {
                            <img src="~/Content/recent/Image-1.jpg" style="max-height:80px;" />
                        }
                    }
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-12 recentEventText">
                            @item.ProjectDesc
                        </div>
                        <div class="col-sm-12 recentEventComment">
                            @item.EndDate.ToString("dd") @item.EndDate.ToString("MMM") @item.EndDate.ToString("yy")  | @item.Address
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="col-sm-2"></div>
            </div>
                }
            }
        </div>
    </div>
    <div id="projectContainer">
        <div id="project" class="row">
            <div class="col-sm-12">
                <ul class="breadcrumb">
                    <li class="active" style="font-size:larger;color:rgb(46, 43, 44)"> Projects</li>
                    <li>
                        <a href="#">
                            Donate Books
                            <img class="iconProject" src="img/book.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Soup Kitchen
                            <img class="iconProject" src="img/soup.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Serve Juice
                            <img class="iconProject" src="img/juice.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#" class="projectLink">See All Projects</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="handsEventName" id="exampleModalLabel">Join Us for </h5>
            </div>
            <div class="modal-body" style="background-color: #222222;">
                <div class="radioGroup">
                    <ul>
                        <li>
                            <div><input type="radio" name="joining" value="Definetly" id="yes" checked="checked" /> <label for="yes">Definetly</label></div>
                        </li>
                        <li>
                            <div><input type="radio" name="joining" value="MayBe" id="notsure" /> <label for="notsure">May Be</label></div>
                        </li>
                        <li>
                            <div><input type="radio" name="joining" value="GotToMiss" id="no" /> <label for="no">Got To Miss</label></div>
                        </li>
                    </ul>                                                            
                    <input id="JoinEventId" type="hidden" />
                    <input id="JoinUserId" type="hidden" />
                </div>
            </div>
            <div class="modal-footer">
                <span style="float:left" id="successMessage"></span>
                <button type="button" class="btn btn-secondary handsDay" data-dismiss="modal">Close</button>
                <button type="button" id="saveJoin" class="btn btn-primary handsDay">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#navbarfaq").hide();
        setTimeout(function () {
            $("#generaleventContainer").removeClass('upcomingeventAnimate');
            $("#generaleventContainer").hide();
            $("#navbarfaq").show();
        }, 8000);

        $(document).on('click', '.joinUsModal', function () {
            $('#exampleModalLabel').html('Join us: ' + $(this).data('name'));
            $('#JoinEventId').val($(this).data('id'));
            $('#JoinUserId').val($(this).data('user'));
            $('#successMessage').html("");
            console.log($(this).data('joining'));
            $(".radioGroup input[value=" + $(this).data('joining') + "]").prop("checked", true)
            $('#saveJoin').prop('disabled', false);
        });

        $(document).on('click', '#saveJoin', function () {
            var eventId = $('#JoinEventId').val();
            var joining = $("input[name='joining']:checked").val()
            console.log(joining);
            var userId = $('#JoinUserId').val();
            var updatedDate = new Date;
            var events = { EventId: eventId, UserId: userId, Joining: joining, Email:"",Name: "", Phone:"", UpdatedDate: updatedDate };
            //var finalProject = { project: project, operation: operation };
            $.ajax({
                type: "POST",
                url: "/home/JoinUs/",
                data: JSON.stringify(events),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result == true) {
                        $('#successMessage').html('Updated Successfully <span style="color:green" class="glyphicon glyphicon-ok-circle"> </span>');
                        $('#saveJoin').prop('disabled', true);
                    }
                    else {
                        $('#successMessage').html('Updated Failed <span style="color:red" class="glyphicon glyphicon-remove-circle"> </span>');
                    }
                },
                error: function (errorMsg) {
                    $('#successMessage').html('<span class="alert alert-warning">' + errorMsg.statusText + '</span> ');
                }

            });
        });
    });
</script>
<script type="text/javascript" src="js/onclick.js"></script>